/*---------------------------------------
ADMIN BAR STYLES             
-----------------------------------------*/
.redux-container-switch .cb-enable.selected {
    background-color: #0047ba;
    border-color: #0047ba;
    border-color: #0047ba;
    box-shadow: inset 0 1px 0 #0047ba,0 1px 0 rgba(0,71,186,0.5);
}
.redux-container-switch .cb-disable.selected {
    background-color: #0047ba;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#929292), to(#0047ba));
    background-image: -moz-linear-gradient(top, #929292, #0047ba) !important;
    background-image: -ms-linear-gradient(top, #929292, #0047ba) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #929292), color-stop(100%, #0047ba));
    background-image: -webkit-linear-gradient(top, #929292, #0047ba);
    background-image: -o-linear-gradient(top, #929292, #0047ba);
    background-image: -linear-gradient(top, #929292, #0047ba);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#929292', endColorstr='#0047ba', GradientType=0);
    border-color: #0047ba;
}
.redux-container #redux-header {
    background-color: #0047ba;
    border-bottom: 3px solid rgba(0,71,186,0.5);
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap, #wpadminbar {
    background-color: #0047ba;
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item {
    display: flex;
    align-items: center;
}
#adminmenu div.wp-menu-image:before, #adminmenu a {
    color: #ffffff;
}
#collapse-button:hover {
    color: #ffffff;
}
#collapse-button {
    color: #ffffff;
}
#adminmenu .wp-submenu a {
    color: #ffffff;
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
    color: #ffffff;
}
ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu>li.current>a.current:after {
    border-right-color: #ffffff;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-right-color: rgba(255,255,255,0.8);
}
#collapse-button .collapse-button-icon, #collapse-button:focus {
    color: #ffffff;
}
#wpadminbar .ab-icon.theme-options-logo {
    position: relative;
}
#wpadminbar .ab-icon.theme-options-logo::after {
    content: "";
    width: 20px;
    display: inline-block;
    height: 20px;
    background-image: url(../../../../uploads/2021/04/ICON.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
}

/*---------------------------------------
WP LOGIN STYLES             
-----------------------------------------*/
.wp-admin #adminmenu div.wp-menu-image img {
    width: auto;
    height: 15px;
}
#login #nav a, #login #backtoblog a, .privacy-policy-link {
    color: #ffffff;
}
body.login.login-action-login h1 a{
    background-image: url(../../../../uploads/2021/04/logo-svg.svg);
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #444;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    text-indent: -9999px;
    outline: 0;
    display: block;
}
body.login.login-action-login{
    background-image: url(../img/wp-login-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
